.headerMain {
  height: 75vh;
  background-image: linear-gradient( to right bottom,
    rgba($color-light, 0.8),
    rgba($color-dark, 0.8));
  background-size: cover;
  background-position: top;
  position: relative;

  &__Text {
    top: 40%;
    left: 50%;
    transform: translate(-50%, 50%);
    text-align: center;
    position: absolute;
  }
}

