
 @import "abstracts/variables";

 @import "base/typography";

@import "layout/header";

@import url('https://fonts.googleapis.com/css?family=Audiowide');

.nav-logo {
  font-family: Audiowide;
  font-size: 2em;
  margin: 0px 100px 0px 50px !important;
  padding: 0 !important;
}

body {
  font-family: sans-serif;

  a {
    text-decoration: none;
  }

  label {
    display: block;
  }

  nav a {
    display: inline-block;
    margin: 1em;
  }

  form div {
    margin: 1em;
    display: inline-block;
  }
}
