
// body {
//   font-family: "Lato", sans-serif;
//   font-weight: 400;
//   font-size: 16px;
//   line-height: 1.7; /* 1.7 * bigger than predetermined line height (not good practice)*/
//   color: $color-grey-dark;
//   padding: 3rem; /* easy padding around entire body*/
// }


.heading-primary {
  color: $color-white;
  text-transform: uppercase; /* set to uppercase */
  backface-visibility: hidden; /*  determines if back part of element is hidden or visible. if we rotate an element 180 degrees it would be seeable, but it can get hidden. this can fix the shakiness*/
  margin-bottom: 6rem;

    &--main {
      display: block;
      font-size: 6rem;
      font-weight: 700; /* by default h1 has higher font weight*/
      letter-spacing: 3.5rem;
    
      animation-name: moveInLeft;
      animation-duration: 1s;
    animation-timing-function: ease-out; /*starts slower and speeds up*/
    
    /* animation-iteration-count: 3 animation will happen 3 times*/
      /*animation-delay: 3s;*/
    }
   /*span by default is inline */
    &--sub {
      display: block;
      font-size: 2rem;
      font-weight: 400;
      letter-spacing: 1.75rem;
      animation: moveInRight 1s ease-out;
    }
  }

  .heading-secondary {
    font-size: 3.5rem;
    text-transform: uppercase;
    font-weight: 700;
    display: inline-block;
    background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
    -webkit-background-clip: text; // gets clipped exactly where text is
    color: transparent;
    letter-spacing: 2px; // 2 px so small, wont matter if it scales. it would be the same as .2rem, this is because of rounding issues
    transition: all .2s;
  
    &:hover {
      transform: skewY(2deg) skewX(15deg) scale(1.1);
      text-shadow: .5rem 1rem 2rem rgba($color-black, .2);
    }
  }

.heading-tertiary {
  font-size: $default-font-size;
  font-weight: 700;
  text-transform: uppercase;
}

.paragrapth {
  font-size: $default-font-size;

  &:not(:last-child) {
    margin-bottom: 3rem;
  }
}