body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7; /* 1.7 * bigger than predetermined line height (not good practice)*/
  padding: 3rem; /* easy padding around entire body*/
}


.heading-primary {
  color: $color-white;
  text-transform: uppercase; /* set to uppercase */
  backface-visibility: hidden; /*  determines if back part of element is hidden or visible. if we rotate an element 180 degrees it would be seeable, but it can get hidden. this can fix the shakiness*/
  margin-bottom: 12rem;

    &--main {
      display: block;
      font-size: 4rem;
      font-weight: 500; /* by default h1 has higher font weight*/
      letter-spacing: 1.5rem;
    
      animation-name: moveInLeft;
      animation-duration: 1s;
    animation-timing-function: ease-out; /*starts slower and speeds up*/
    
    /* animation-iteration-count: 3 animation will happen 3 times*/
      /*animation-delay: 3s;*/
    }
   /*span by default is inline */
    &--sub {
      display: block;
      font-size: 2rem;
      font-weight: 200;
      letter-spacing: 0.5;
      animation: moveInRight 1s ease-out;
    }
  }