.story {
  width: 75%;
  margin: 0 auto; // block inside block
  box-shadow: 0 3rem 6rem rgba($color-black, .1);
  background-color:rgba($color-white, .6);
  border-radius: 3px;
  padding: 6rem;
  padding-left: 9rem;
  font-size: $default-font-size;
  transform: skewX(-12deg);

  & > * {
    transform: skewX(12deg);
  }

  &__shape {
    width: 15rem;
    height: 15rem;
    float: left; // in order to make rest of content float around it
    -webkit-shape-outside: circle(50% at 50% 50%);//define vectorized shape radius, half height half width, at exactly the center. element must also be float. in safari it'll only work with webkit 
    shape-outside: circle(50% at 50% 50%);//define vectorized shape radius, half height half width, at exactly the center. element must also be float. in safari it'll only work with webkit
    //also it needs defined dimensions

    //this'll control the text wrapping around the image
    -webkit-clip-path: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);

    transform: translateX(-3rem) skew(12deg);

    position: relative;


    //need to give image a width
  }

  &__img {
  // inside an image with a height well defined, so it'll be 100% of the parent 15 rem
    margin-top:-8.5rem;
    height: 100%;
    transform: translateX(-4rem) scale(1.4);
    backface-visibility: hidden;
    transition: all .5s;
    
  }

  &__text {
    transform: skewX(12deg);
  }

  &__caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 20%);
    color: $color-white;
    text-transform: uppercase;
    font-size: 1.7rem;
    text-align: center;
    opacity: 0;
    transition: all .5s;

    //to remove shaking
    backface-visibility: hidden;
  }

  &:hover &__caption {
    opacity: 1;
    transform: translate(-50%, -50%);
  }

  &:hover &__img {
    transform: translateX(-4rem) scale(1); 
    
    //filter 

    filter: blur(3px) brightness(80%);   // lower than 100 brightness makes it darker while higher makes it brighter
  }
}