@mixin clearfix {
  //claer floats
  //specify content property or sudo elements wont appear
  //we have to display it, using table,
  //property that performs this is clear

  &::after {
    content: "";
    display: table;
    clear: both; //clears both floats left and right
  }
}